body{
	margin: 0;
}

.cleaner {
    clear: both;
}


.main-wrapper{
	border: 1px solid green;
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
}

/*---------Personal Info-----------*/
.main-wrapper .personal-info{
	/* border: 1px solid blue; */
	margin-bottom: 2%;
}

.main-wrapper .personal-info .name-contact{
	display: inline-block;
	/* border: 1px solid green; */
	float: left;
}
.main-wrapper .personal-info .name-contact i {
	font-size: 40px;	
}

.main-wrapper .personal-info .photo{
	display: inline-block;
	/* border: 1px solid black; */
	float: right;
}
.main-wrapper .personal-info .photo img{
	width: 200px;
	height: 200px;
}

/*------------About Me------------*/
.main-wrapper .about-me {
	/* border: 1px solid green; */
	margin-bottom: 2%;
}


/*----------Skills------------*/
.main-wrapper .skills {	
	/* border: 1px solid blue; */
	display: block;
	margin-bottom: 2%;
	position: relative;	
}

.main-wrapper .skills .skill {	
	/* border: 1px solid green; */
	display: inline-block;
	text-align: center;
	width: 24%;
	height: 30%;
	box-sizing: border-box;	
}
.main-wrapper .skills .skill img{
	width: 200px;
	height: 200px;
}
.main-wrapper .skills article:nth-child(2) {
	margin: 1%;
}


/*----------Educations------------*/
.main-wrapper .educations {
	border: 1px solid violet;
	margin-bottom: 2%;
}
.main-wrapper .educations .educations-header i{
	font-size: 40px;
}
.main-wrapper .educations .education {
	margin-left: 3%;
}

/*-------------Contact------------*/
.main-wrapper .contact-me{
	border: 1px solid red;
	box-sizing: 2px solid brown;
	/* height: 300px; */
	margin-bottom: 2%;
}

.main-wrapper .contact-me .contact-form{
	border: 2px solid green;
	box-sizing: border-box;	
}

.main-wrapper .contact-me .contact-form .col-left{
	width: 50%;
	/* border: 1px solid red; */
	float: left;
}
.main-wrapper .contact-me .contact-form .col-left label input[type=text], input[type=email] {
    border: solid 1px black;
    color: #979797;
    height: 48px;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 12px;
}

.main-wrapper .contact-me .contact-form .col-right{
	width: 49%;
	/* border: 1px solid blue; */
	float: right;	
}
.main-wrapper .contact-me .contact-form .col-right textarea {
    border: solid 1px black;
    color: #979797;
    /* height: 68px; */
    /* padding-left: 10px; */
    width: 90%;
    margin-bottom: 15px;
    border-radius: 12px;
    overflow-y: scroll;
    width: 97%;
}

.main-wrapper .contact-me .contact-form .form-btn{
    background-color: #00aef3;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;    
    display: block; 
    margin: 12px auto;
    box-shadow: 5px 5px 5px #888888;
}

@media (max-width:985px){
	.main-wrapper .skills .skill img{
		width: 60%;
		height: 60%;
	}	
}

@media (max-width:689px){
	.main-wrapper .skills .skill {			
		display: block;
		width: 100%			
	}
	.main-wrapper .skills .skill img{
		width: 20%;
		height: 20%;
		float: left;
	}
}

@media (max-width:518px){
	.main-wrapper .personal-info .name-contact{
		display: inline-block;
		float: right;
	}
	.main-wrapper .personal-info .photo{
		display: inline-block;
		position: absolute;
		box-sizing: border-box;
	}
	.main-wrapper .personal-info .photo img{
		width: 25%;
		height: 25%;
	}
}